body, html {
  margin: 0;
  padding: 0;
  background-color: #0d1117;
}

body {
  -webkit-text-size-adjust: none;
}

body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 300;
  letter-spacing: -0.05em;
  font-family: 'Noto Sans KR';
}

ul, ol, li, dl, dt, dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
}

input, select, textarea, fieldset, button {
  outline: none;
  margin: 0;
  padding: 0;
  width: auto;
  min-width: auto;
  border: 0;
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

em {
  font-style: normal;
}

textarea {
  resize: none;
}

.hidden {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/NotoSansKR-Thin.woff2) format("woff2"), url(../fonts/NotoSansKR-Thin.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/NotoSansKR-Light.woff2) format("woff2"), url(../fonts/NotoSansKR-Light.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/NotoSansKR-Regular.woff2) format("woff2"), url(../fonts/NotoSansKR-Regular.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/NotoSansKR-Medium.woff2) format("woff2"), url(../fonts/NotoSansKR-Medium.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format("opentype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/NotoSansKR-Bold.woff2) format("woff2"), url(../fonts/NotoSansKR-Bold.woff) format("woff"), url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format("opentype");
}

.section {
  width: 100%;
  min-width: 81.25rem;
}

.section .wrapper {
  width: 100%;
  max-width: 81.25rem;
  margin: auto;
}

table.table {
  width: 100%;
  table-layout: fixed;
}

table.calendar-table {
  border: 0.0625rem solid #30363d;
}

table.calendar-table tr th, table.calendar-table tr td {
  color: #ffffff;
  border: 0.0625rem solid #30363d;
}

table.calendar-table tr th .date-frame, table.calendar-table tr td .date-frame {
  position: relative;
  min-height: 100%;
}

table.calendar-table tr th .date-frame .date-top, table.calendar-table tr td .date-frame .date-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

table.calendar-table tr th {
  padding: 0.3125rem 0;
  font-size: 0.875rem;
}

table.calendar-table tr td {
  width: 14.375rem;
  height: 7.5rem;
}

.day-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.day-list ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: block;
  text-align: center;
  color: #ffffff;
}
