@mixin flex-prefix-suffix{
  display: flex;
  .prefix, .suffix{
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-items: center;
  }
  .suffix{
    justify-content: flex-end;
  }
}
@mixin flex-prefix-center-suffix{
  display: flex;
  .prefix, .center, .suffix{
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-items: center;
  }
  .center{
    justify-content: center;
  }
  .suffix{
    justify-content: flex-end;
  }
}