table{
  &.table{
    width: 100%;
    table-layout: fixed;
  }
  &.calendar-table{
    border:$calendar-border;
    tr{
      th,td{
        color: $fc-white;
        border:$calendar-border;
        .date-frame{
          position: relative;
          min-height: 100%;
          .date-top{
            display: flex;
            flex-direction: row-reverse;
          }
        }
      }
      th{
        padding: rem(5) 0;
        font-size: rem(14);
      }
      td{
        width: rem(230);
        height: rem(120);
      }
    }
  }
}