//font-weight
$thin: 100;
$light: 300;
$normal: 400;
$medium-bold:500;
$semi-bold: 700;
$bold: 800;

$primary:#0d1117;
$secondary:#1f6feb;
$white:#ffffff;
$gray:#6a948d;

$fc-white:$white;
$fc-gray:$gray;

$calendar-border:rem(1) solid #30363d;